extends base

block title
	title Главная калькуляторы

include elements/lipsum.jade

block content

	main
		.container
			.row

				// Link to calc
				.col-sm-6.col-md-4.col-lg-3
					include elements/block--calc

				// Context block
				.col-sm-6.col-md-4.col-lg-3
					.block.block--context

				// Link to calc
				.col-sm-6.col-md-4.col-lg-3
					include elements/block--calc

				// Blog posts
				.col-sm-6.col-md-4.col-lg-3
					include elements/block--blog-post
				// Context block
				.col-sm-6.col-md-4.col-lg-3
					.block.block--context