extends base

block content
	.container
		.row
			.col-lg-9
				block main

			.col-lg-3.visible-lg-block
				aside
					include elements/block--blog-post
					.block.block--context
					.block.block--context
					include elements/block--blog-post