.post__image
	img
		width 100%
		max-width 100%

.post__title
	font-size 18px
	margin 24px 0 18px
	color #181818
	@media screen and (min-width: $screen-sm)
		font-size 22px
		margin 27px 0 21px

.post__text
	font-size 16px
	line-height 24px
	color #181818
	p
		margin-bottom 24px
		&:last-of-type
			margin-bottom 0