.block.block--blog-posts
	a(href="").block-blog.clearfix
		.block-blog__image
			img(src="images/blog-post-thumb.jpg")
		.block-blog__text
			.block-blog__title
				+lipsum(Math.floor(Math.random() * 4 + 2),"words")
			.block-blog__lead
				+lipsum(1, "sentences")
	a(href="").block-blog.clearfix
		.block-blog__image
			img(src="images/blog-post-thumb.jpg")
		.block-blog__text
			.block-blog__title
				+lipsum(Math.floor(Math.random() * 4 + 2),"words")
			.block-blog__lead
				+lipsum(1, "sentences")
	a(href="").block-blog.clearfix
		.block-blog__image
			img(src="images/blog-post-thumb.jpg")
		.block-blog__text
			.block-blog__title
				+lipsum(Math.floor(Math.random() * 4 + 2),"words")
			.block-blog__lead
				+lipsum(1, "sentences")
	.block__blog-all
		a(href="") Все статьи
