.recommended
	h2.recommended__title Рекомендуемые калькуляторы
	.row
		.col-sm-6.col-md-4.col-lg-4
			a(href="" style="background-image: url('images/calc-link.jpg');").block.block--calc-link
				.text.text-center Расчет размера дверей
		.col-sm-6.col-md-4.col-lg-4
			a(href="" style="background-image: url('images/calc-link.jpg');").block.block--calc-link
				.text.text-center Расчет размера дверей
		.col-sm-6.col-md-4.col-lg-4
			a(href="" style="background-image: url('images/calc-link.jpg');").block.block--calc-link
				.text.text-center Расчет размера дверей
	a(href="").recommended__show-all.button.button--gray.button--full-width.button--desktop-reset Перейти ко всем
